<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Location" value="742,12" />
        <add key="Size" value="758,772" />
        <add key="Power" value="150" />
        <add key="Temp" value="-10 C" />
        <add key="Time" value="100" />
        <add key="Count" value="100" />
        <add key="Continuous" value="True" />
        <add key="Continuous2" value="True" />
        <add key="Zoom" value="200" />
        <add key="Convert1" value="True" />
        <add key="Convert2" value="False" />
        <add key="Convert3" value="False" />
    </appSettings>
</configuration>